aiohttp
async-timeout
attrs
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
discord.py
fpdf
futures
goslate
idna
multidict
Pillow
pycparser
PyNaCl
python-dotenv
requests
six
soupsieve
typing_extensions
urllib3
yarl
